@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --title-color: #ffffff;
  --p-color: #c0c0c0;
  --a-color: #6b6767;
  --button-color: #167bf7;
  --background: #00030c;
  --font-family: "Inter", sans-serif;
}
* {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}
body {
  background-color: var(--background);
}
/*main*/
#dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--title-color);
}

.lista__item {
    font-size: 32px;
    color: var(--title-color);
}
.dispositivos__lista {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 5em 0;
}
/*Footer*/
footer {
    margin-top: 145px;
  text-align: center;
  color: var(--p-color);
  margin-bottom: 50px;
  font-size: 14px;
}
.footer__conteudo__links {
  margin: 40px 16px 24px 0px;
}
.footer__conteudo__links li,
a {
  margin-right: 16px;
  display: inline;
  text-decoration: none;
  color: var(--p-color);
  font-size: 16px;
}
.footer__conteudo__links a:hover {
  color: var(--a-color);
}
