@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --title-color: #ffffff;
  --p-color: #c0c0c0;
  --a-color: #6b6767;
  --button-color: #167bf7;
  --button-hover: #6babfa;
  --background: #00030c;
  --font-family: "Inter", sans-serif;
}
* {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}
body {
  background-color: var(--background);
}
/*main*/
#plataforma{
    color: var(--title-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.plataforma__texto h2{
    font-size: 48px;
}
.plataforma__texto p{
    color: var(--p-color);
}
#plataforma__curso{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 264px;
    color: var(--p-color)
}
#cursos__plataforma{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 264px;
    color: var(--title-color);
}
.plataforma__curso__texto button{
    background-color: var(--button-color);
    color: var(--title-color);
    padding: 16px 24px;
    border-radius: 8px;
    border: none;
}
button:hover{
    background-color: var(--button-hover);
    cursor: pointer;
}
.cursos__plataforma__texto h2{
    font-size: 48px;
}
.cursos__plataforma__texto p{
    font-size: 16px;
    color: var(--p-color)
}
#dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--title-color);
}

.lista__item {
    font-size: 32px;
    color: var(--title-color);
}
.dispositivos__lista {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 5em 0;
}
/*Footer*/
footer {
    margin-top: 145px;
  text-align: center;
  color: var(--p-color);
  margin-bottom: 50px;
  font-size: 14px;
}
.footer__conteudo__links {
  margin: 40px 16px 24px 0px;
}
.footer__conteudo__links li,
a {
  margin-right: 16px;
  display: inline;
  text-decoration: none;
  color: var(--p-color);
  font-size: 16px;
}
.footer__conteudo__links a:hover {
  color: var(--a-color);
}
